# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

report.xml
coverage.xml
coverage.json
coverage.txt

.vscode

.DS_Store
abstrakt
bin

**/output-*

basic_azure_event_hubs.yaml
result.png
get_helm.sh

output

__debug_bin
cmd/test.dot

node_modules
